<!-- contact US -->

<div class="container">
			<img class="indexLogo img-responsive center-block" src="img/fleurish.gif">
</div>

<section id="contactUs">
	<div id="aboutContainer" class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        </div>
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
       </div>
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        </div>
      </div>
      <hr>
</div> <!-- /container -->

<!-- start Contact Form -->
<section id="contactUsForm">
		<div class="jumbotron col-sm-offset-2 col-sm-8">
			<div class="container">
			<h1 id="fleurishCenter">Contact <i>fleurish</i></h1>
				<h3>Have a question? Tell us who you are so we can help!</h3>
				<h8>* all fields required</h8>

				<h6>*FULL NAME</h6>
					<input id="input1" type="text" name="userName">

				<h6>*EMAIL</h6>
					<input id="input2" type="text" name="email">

				<h6>*COUNTRY</h6>
					<select id="input3" name="Country">
						<option value="blank" selected>------</option>
						<option value="USA">United States</option>
					</select>

				<h6>*STATE</h6>
					<select id="input4" name="State">
						<option value="blank" selected>------</option>
						<option value="Louisiana">Louisiana</option>
					</select>

				<h6>*MESSAGE</h6>
					<textarea class="form-control" rows="3" placeholder="What do you want to say?"></textarea>

				<br />
				<br />

				<p><a class="btn btn-primary btn-lg" href="\event\contact.html" role="button" id="contactButton">Submit</a></p>
			</div>
		</div>

</section>

      <footer class="col-sm-12">
        <p class="text-center">&copy; 2017 <i>fleurish</i> Inc.</p>
      </footer>

</section>