<!-- start collapse filter -->
	<div class="container"> <!-- start page container -->
		<div class="panel-group filterPanelGroup col-lg-offset-1 col-lg-3 col-md-3 col-sm-12" id="accordion" role="tablist" aria-multiselectable="true">
		<!-- Event Type Filter -->
			<div class="filterPanel panel panel-default">
				<div class="panel-heading" role="tab" id="headingOne">
					<h4 class="panel-title">
						<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
							Event Type
						</a>
					</h4>
				</div>
				<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
					<div class="panel-body">
					<!-- start event type dropdown -->
						<div class="col-xs-12 col-md-12 col-lg-12">
							<div class="input-group filterSearch">
							<select class="form-control" ng-model="selectedType" ng-options="type for type in types">
								<option value="" disabled selected >Select a type</option>
							</select>
					<!-- / event type dropdown -->
					<!-- start button -->
							  <span class="input-group-btn" ng-click="filterTypebtn()">
							  		<button class="btn btn-default filterbtn" type="button">Go!</button>
							  </span>
					<!-- end -->
							</div>
						</div>
					</div>
				</div>
			</div>
		<!-- Location Filter -->
			<div class="filterPanel panel panel-default">
				<div class="panel-heading" role="tab" id="headingTwo">
					<h4 class="panel-title">
						<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
							Location
						</a>
					</h4>
				</div>
				<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
					<div class="panel-body">
					<!-- start city dropdown -->
						<div class="col-xs-12 col-md-12 col-lg-12">
							<div class="input-group filterSearch">
							<select class="form-control" ng-model="selectedCity" ng-options="city for city in locations">
								<option value="" selected >Select a City</option>
							</select>
					<!-- / city dropdown -->
					<!-- dropdown button -->
							  <span class="input-group-btn">
									<button class="btn btn-default filterbtn" type="button" ng-click="filterCitybtn()">Go!</button>
							  </span>
							</div>
						</div>			
							<!-- /dropdown button -->
					</div>
				</div>
			</div>
		<!-- Date Filter -->
			<div class="filterPanel panel panel-default">
				<div class="panel-heading" role="tab" id="headingThree">
					<h4 class="panel-title">
						<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
							Date
						</a>
					</h4>
				</div>
				<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
					<div class="panel-body">
					<!-- Date Picker Form -->
						<div class="col-xs-5 col-md-12 col-lg-12">
					<div class="input-group formStretch browseFilter">
						<input type="text" class="form-control" placeholder="from" id="fromBrowse">
					</div>
					</div>
					<div class="col-xs-5 col-md-12 col-lg-12">
					<div class="input-group col-xs-6 formStretch browseFilter">
						<input type="text" class="form-control" placeholder="To" id="toBrowse">
					</div>
					</div>
					<div class="col-xs-2 col-md-12 col-lg-12">
						<div class="form-group">
							<span class="input-group-btn">
						<button class="btn btn-default browsefilterbtn" type="button">Go!</button>
							</span>
						</div>
					</div>
					</div>
				</div>
			</div>
		<!-- Admission Price Filter -->
			<div class="filterPanel panel panel-default">
				<div class="panel-heading" role="tab" id="headingFour">
					<h4 class="panel-title">
						<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
							Admission Price
						</a>
					</h4>
				</div>
				<div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
					<div class="panel-body">
					<!-- start dropdown -->
						<div class="col-xs-12 col-md-12 col-lg-12">
							<div class="input-group filterSearch">
							<select class="form-control" ng-model="selectedAdmission" ng-options="admission for admission in admissions">
								<option value="" disabled selected>Select admission $</option>
							</select>
							  <span class="input-group-btn" ng-click="filterAdmissionbtn()">
							  		<button class="btn btn-default filterbtn" type="button">Go!</button>
							  </span>
							</div>
						</div>
							<!-- /dropdown button -->
					</div>
				</div>
			</div>
		</div>
	
<!-- / collapse filter -->

<!-- start populate events -->
		<div class="col-lg-7 col-md-7 col-sm-12">

			<h1>Events</h1>

			<div ng-repeat="event in events | filter: {city: selectedCity} | filter:{ type: selectedType } | filter:{ admission: selectedAdmission }">
			<!-- ng-if="selectedCity" see how to make ng-if true when button is clicked-->
				

				<div class='panel panel-default'>
					<div class='panel-heading'>
						<h2 class='eventList panel-title'>{{ event.title }}</h2>
					</div>

					<div class='panel-body'>
						<p> {{ event.description }} </p>
						<p> {{ event.street }}
						<br> {{ event.city + ", " + event.state + " " + event.zip }}</p>
						<p> {{ event.startDate + " - " + event.endDate }}</p>
						<p> {{ event.startTime + " to " + event.endTime }}</p>
						<p> Age Restriction: {{ event.ageRestriction }}</p>
						<p> {{ event.website }}</p>
						<p> Admission Price: ${{ event.admission }}</p>
						<p> Fleurs: {{ event.fleur }} 
						<button type="button" class="btn btn-default btn-sm" ng-click="plusOne($index)" >
								<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
							</button>
							<button type="button" class="btn btn-default btn-sm" ng-click="minusOne($index)">
								<span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
							</button>
						</p>
					</div>

					<div class='panel-footer'>
						<p><span ng-repeat="type in event.type" class='label label-default'> {{ type }} </span></p>
					</div>

				</div>

			</div>

		</div> <!-- /page container -->

<!-- / populate event -->


<!-- custom page script -->
<script type="text/javascript">
	

// DATE PICKER INDEX
	$( function() {
		var dateFormat = "mm/dd/yy",
			from = $( "#from, #fromBrowse, #newEventStartDate" )
				.datepicker({
					defaultDate: null,
					changeMonth: true,
					changeYear: true,
					numberOfMonths: 1
				})
				.on( "change", function() {
					to.datepicker( "option", "minDate", getDate( this ) );
				}),
			to = $( "#to, #toBrowse, #newEventEndDate" ).datepicker({
				defaultDate: null,
				changeMonth: true,
				changeYear: true,
				numberOfMonths: 1
			})
			.on( "change", function() {
				from.datepicker( "option", "maxDate", getDate( this ) );
			});
 
		function getDate( element ) {
			var date;
			try {
				date = $.datepicker.parseDate( dateFormat, element.value );
			} catch( error ) {
				date = null;
			}
 
			return date;
		}
	} );
	
</script>
