<!-- JUMBOTRON -->

		<div class="jumbotron filterHeader">
			<div class="container">
					<img class="indexLogo img-responsive center-block" src="img/fleurish.gif">
					<div class="text-center indexText">
						<h3>find a <i>fleurishing</i> event</h3>
					</div>
			<!-- start search -->
				<div class="row">
			<!-- search Type -->
					<div class="col-lg-3 col-md-6">
						<div class="input-group filterSearch">
							<input type="search" class="filterSearchForm form-control" placeholder="Type of Event">
							<span class="input-group-btn">
							<button class="btn btn-default filterbtn" type="button">Go!</button>
							</span>
						</div>
					</div>
			<!-- search Date -->
					<div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">
						<div class="input-group formStretch filterSearch">
							<input type="text" class="filterSearchForm form-control" placeholder="From" id="from">
						</div>
					</div>
					<div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">
						<div class="input-group filterSearch">
							<input type="text" class="filterSearchForm form-control" placeholder="To" id="to">
							<span class="input-group-btn">
								<button class="btn btn-default filterbtn" type="button">Go!</button>
							</span>
						</div>
					</div>
			<!-- search Location -->
				<div class="col-lg-3 col-md-6">
					<div class="input-group filterSearch">
						<select class="form-control">
							<option placeholder="Location"></option>
							<option>New Orleans</option>
							<option>Metairie</option>
							<option>Gretna</option>
							<option>Kenner</option>
							<option>Avondale</option>
							<option>Belle Chase</option>
							<option>Chalmette</option>
							<option>Elmwood</option>
							<option>Harahan</option>
							<option>Harvey</option>
							<option>Marrero</option>
						</select>
						<span class="input-group-btn">
						<button class="btn btn-default filterbtn" type="button">Go!</button>
						</span>
					</div>
					</div>
			<!-- search Admission -->
				<div class="col-lg-2 col-md-6">
					<div class="input-group filterSearch">
						<input type="text" class="filterSearchForm form-control" placeholder="Admission Price">
						<span class="input-group-btn">
						<button class="btn btn-default filterbtn" type="button">Go!</button>
						</span>
					</div>
					</div>
			<!--/ search 4 -->

				</div><!-- /.row -->
				<!-- / search -->
				<!-- <p>...</p> -->
				<!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p> -->
			</div>
		</div>

<!-- / JUMBOTRON -->